<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CST8333 Project</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/bootstrap-3.3.7-dist/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            
            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <p class="navbar-brand " href="#">CST8333 Language Research Project</p>
                </div>
            </nav>
        </div>
            
        

        
    </body>
</html>